@font-face {
    font-family: "Bungee Outline";
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Barlow Condensed";
    src: url(fonts/BarlowCondensed-Regular.ttf);
}
@font-face {
    font-family: "Barlow Semi Condensed";
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: "Barlow Condensed Black";
    src: url(fonts/BarlowSemiCondensed-Black.ttf);
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;

}

main {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    margin: 70px auto;
    max-width:1200px;
    min-width: 800px;

}

header {
    color: white;
    padding-left: 4px;
    padding-top: 0px;
    font-family: "Bungee Shade";
    font-size: 3vw;
}


h1 {
    padding: 0px;
    line-height: 100px;
/* Måste fixa så att texten ändrar storlek*/
}



nav {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 0px 15px;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
}

nav a {
    background-color: rgba(255, 255, 255, 0.621);
    color: black;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
    flex-basis: 200px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.471);
    color: white;
}

nav a:active {
    background-color: rgba(255, 255, 255, 0.621);
    color: black;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
    font-family: "Barlow Condensed Black";

}

div {
    background-color: rgba(0, 0, 0, 0.407);
    width: 97%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 10px;;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 28px 86px 122px 122px 122px;

}

div h1 {
    font-family: "Bungee Outline";
    line-height: 0px;
    grid-row: 1;
    grid-column: 1 / span 3;
}

div h2 {
    font-family: "Barlow Condensed";
    grid-row: 2;
    grid-column: 1 / span 3;
}

div p {
    font-family: "Barlow Semi Condensed";
    padding: 0px;
    margin: 0px;
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
}


p p {
    text-indent: 10px;
}

div img{
    object-fit: cover;
    max-width: 450px;
    max-height: 450px;
    min-width: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    grid-row: 1 / span 4;
    grid-column: 4 / span 2;
    box-sizing: border-box;
}